<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <title>Employees</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Edit user</th>
            
            
                <% employees.forEach(function(emp){ %>
                <% const id = emp.id %>
                    <tr>
                            <td><%=  emp.name  %></td>
                            <td><%=  emp.position  %></td>
                            <td><a href="employees/<%= id %>">Edit <%=  emp.name  %> --> </a></td>
                    </tr>
                <% }); %>
        </table>

        <form method="POST" action="/create-employee">
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter Name"
        />
        <button type="submit">Create user</button>
        </form>
    </div>
</body>
</html>